body{
    background-size: cover;}

.heading
{
font-size: 40px;
width: 100%;
margin-top: 30px;
color: lightskyblue;
font-weight: bold;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a{
    width: 200px;
    height: 60px;
    
}

.gdn
{
    font-size: 20px;
}