body{
    background-size: cover;
    background-position: center;
}

.heading
{
font-size: 40px;
width: 100%;
margin-top: 30px;
color: black;
}

.a{
    font-size: 20px;
    border-radius: 30%;
    background-color: white;
    color: black;
    
}

a{
    width: 60px;
    height: 20px;
}